.contact-details-card {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(32, 31, 31);
  border-radius: 0.8rem;
  border: 1px solid rgb(141, 138, 134);
  padding: 1.5rem;
  margin-bottom: 2rem;
  color: aliceblue;
}

.contact-details-card:hover {
  color: rgb(104, 102, 101);
  cursor: pointer;
  background: linear-gradient(90deg, rgb(23, 22, 22) 0%, rgb(55, 48, 48) 100%);

}


.contact-details-card .icon {
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.8rem;
  background: rgb(159, 159, 148);
  margin-bottom: 0.8rem;
}

.icon img {
  width: 2rem;
  height: auto;
  object-fit: contain;
}


.contact-details-card p {
  font-size: 0.8rem;
  font-weight: 400;
  color: aliceblue;
}

.contact-details-card p:hover {
  color: gray;
}
